[FORMAT]
1.0

[BENCHMARK]
BP9

[COMBINE DOT PRODUCT]
FALSE
#TRUE

[KERNEL ID]
0
#,1,2,3,4,5

[MESH DIMENSION]
3

[BOX DOMAIN]
TRUE

[TARGET NODES]
120000
#100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000,1100000,1200000,1300000,1400000,1500000,1600000,1700000,1800000,1900000,2000000,2100000,2200000,2300000,2400000,2500000,2600000,2700000,2800000,2900000,3000000

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX XMIN]
-1.
   
[BOX XMAX]
 1.

[BOX YMIN]
-1.
   
[BOX YMAX]
 1.

[BOX ZMIN]
-1.
   
[BOX ZMAX]
 1.

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
6

# number of cubature nodes = "CUBATURE DEGREE" + 1
[CUBATURE DEGREE]
6

[ELEMENT MAP]
ISOPARAMETRIC

[ELLIPTIC INTEGRATION]
NODAL

[THREAD MODEL]
CUDA
#HIP
#OpenCL

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[LAMBDA]
10

[VISCOSITY]
10

# can add FLEXIBLE to PCG
# can add NONBLOCKING (disable FLEXIBLE for the moment)
[KRYLOV SOLVER]
#MINRES
PCG

[SOLVER TOLERANCE]
1.e-9

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
CONTINUOUS

# can be NODAL or BERN
[BASIS]
NODAL

[OUTPUT FILE NAME]
cavity

[VERBOSE]
#FALSE
TRUE

# set to 0 (zero) to disable reductions
[DEBUG ENABLE REDUCTIONS]
1

# set to 0 (zero) to disable gather-scatter
[DEBUG ENABLE OGS]
1

[MAXIMUM ITERATIONS]
50

[FIXED ITERATION COUNT]
FALSE

[USE PRECOMPILED BINARIES]
FALSE

[PARALMOND SMOOTH COARSEST]
FALSE

